<script language="Javascript" type="text/javascript">

$(document).ready( function() {
  $('#ClickWordList li').click(function() { 
    $(".part_content-input").insertAtCaret($(this).text());
    return false
  });
  $("#DragWordList li").draggable({helper: 'clone'}).hover;
  $(".part_content-input").droppable({
    accept: "#DragWordList li",
    drop: function(ev, ui) {
      $(this).insertAtCaret(ui.draggable.text());
    }
  });
});
$.fn.insertAtCaret = function (myValue) {
  return this.each(function(){
  //IE support
  if (document.selection) {
    this.focus();
    sel = document.selection.createRange();
    sel.text = myValue;
    this.focus();
  }
  //MOZILLA / NETSCAPE support
  else if (this.selectionStart || this.selectionStart == '0') {
    var startPos = this.selectionStart;
    var endPos = this.selectionEnd;
    var scrollTop = this.scrollTop;
    this.value = this.value.substring(0, startPos)+ myValue+ this.value.substring(endPos,this.value.length);
    this.focus();
    this.selectionStart = startPos + myValue.length;
    this.selectionEnd = startPos + myValue.length;
    this.scrollTop = scrollTop;
  } else {
    this.value += myValue;
    this.focus();
  }
  });
};
</script>	
<%	
  scope ||= nil
  subsection_id ||= nil
  show_unauthorized_columns = active_scaffold_config.send(form_action).show_unauthorized_columns
%>

<div style="float: left; padding-left: 2em;">
<ol class="form" <%= "id=#{subsection_id}" unless subsection_id.nil? %> <%= "style=\"display: none;\"".html_safe if columns.collapsed %>>
<div>
  <% columns.each :for => @record, :crud_type => (:read if show_unauthorized_columns) do |column| %>
  <% column_css_class = column.css_class unless column.css_class.nil? || column.css_class.is_a?(Proc) %>
  <% authorized = show_unauthorized_columns ? @record.authorized_for?(:crud_type => form_action, :column => column.name) : true %>
  <% renders_as = column_renders_as(column) %>
  <% if renders_as == :subsection -%>
    <% subsection_id = sub_section_id(:sub_section => column.label) %>
  <li class="sub-section <%= column_css_class %>">
    <h5><%= column.label %></h5>
    <%= render :partial => 'form', :locals => { :columns => column, :subsection_id => subsection_id, :form_action => form_action, :scope => scope } %>
    <%= link_to_visibility_toggle(subsection_id, {:default_visible => !column.collapsed}) -%>
  </li>
  <% elsif renders_as == :subform and !override_form_field?(column) and authorized -%>
  <li class="sub-form <%= active_scaffold_config_for(column.association.klass).subform.layout %>-sub-form <%= column_css_class %> <%=column.name%>-sub-form" id="<%= sub_form_id(:association => column.name) %>">
    <%=raw render :partial => form_partial_for_column(column, renders_as), :locals => { :column => column, :scope => scope } -%>
  </li>
  <% else -%>
  <li class="form-element <%= 'required' if column.required? %> <%= column_css_class %>">
    <%=raw render :partial => form_partial_for_column(column, renders_as), :locals => { :column => column, :only_value => !authorized, :scope => scope } -%>
  </li>
  <% end -%>
  <% end -%>
</div>  
</ol>
</div>
<div style="background-color: #E2EEEA; float: left; margin-top: 0; padding-left: 2em;">
<fieldset>
	<legend>Drag and Drop to Insert into Part Content</legend>
	<ul id="DragWordList">
		<div style="float: left;">
			<li>{legal description}</li>	
			<li>{job name}</li>
			<li>{job number}</li>
			<li>{job branch number}</li>
			<li>{job description}</li>
			<br/>
			<ul> </ul>
			<b><u>Text Format Codes</u></b>
			<li>&ltb&gt &lt/b&gt</li>
			<li>&lti&gt &lt/i&gt</li>
			<li>&ltu&gt &lt/u&gt</li>	
			<li>&ltsub&gt &lt/sub&gt</li>
			<li>&ltsup&gt &lt/sup&gt</li>
			<li>&ltdiv align=&quotcenter&quot&gt &lt/div&gt</li>	
		</div>
		<div style="float: left; padding-left: 5em">
			<li>{job address1}</li>
			<li>{job address2}</li>
			<li>{job city}</li>
			<li>{job state}</li>
			<li>{job zip}</li>
			<li>{job county}</li>
			<li>{job additional info}</li>
		</div>
	</ul>
</fieldset>

</div>	

