= link_to "Add a New Document Parent", new_documentparent_path
.row-fluid
  .span12.widget
    .widget-header
      %span.title List of Document Parents
    .widget-content.table-container
      %table#demo-dtable-02.table.table-striped
        %thead
          %tr
            %th Document Parent
        %tbody
          - @documentparents.each do |a|
            %tr
              %td= a.name
              
              %td
                = link_to "View", documentparent_path(a)
                = link_to "Edit", edit_documentparent_path(a)
                = link_to 'Delete', documentparent_path(a), method: :delete, data: { confirm: 'Are you sure?' }
       
= link_to "Back", :back
