
%html
  %head
    %title Sunray Notice Application
    = stylesheet_link_tag   "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        = render 'shared/user_nav'
        .container
        = image_tag("logosunray.png")
    .container
   
      %p.notice= notice
      %p.alert= alert
      = yield
